<h1><%= @club.name %></h1>
<%= link_to "Add a friend to your club", new_club_membership_path(@club), class: "btn btn-flat" %>
<%= link_to "Delete Club", club_path(@club), data: {turbo_method: :delete, turbo_confirm: "Do you really want to delete this club?"}%>
<div>
  <h2>Club Members</h2>
  <ul>
    <% @members.each do |member| %>
      <li><%= member.user.username %></li>
    <% end %>
  </ul>
</div>
