<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "https://res.cloudinary.com/dm6g22zui/image/upload/v1671878441/v4hpmsdkpvwjwsocimln.jpg"%>');">
  <div class="container">
    <h1>Create a TV and book club with your <strong> friends</strong> and <strong>get in sync.</strong>!</h1>
    <p>Track where everyone is, arrange meetups and discuss the chosen TV show and book.</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
