<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "https://res.cloudinary.com/dm6g22zui/image/upload/v1671878441/v4hpmsdkpvwjwsocimln.jpg"%>');">
  <div class="container">
    <h1>Create a TV and book club with your <strong> friends</strong> and <strong>get in sync</strong>!</h1>
    <% if user_signed_in? %>
      <%= link_to "Create a club!", new_user_registration_path, class: "btn btn-flat" %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
<div class="container">
    <h2 class="text-center">How it works</h2>
    <div class="cards">

      <div class="card">
        <h4>Create a Club</h4>
        <p>Invite Your Friends</p>
      </div>

      <div class="card">
        <h4>Nominate a book or TV show</h4>
        <p>Club members can update and view the progress of others</p>
      </div>

      <div class="card">
        <h4>Organise Meetup</h4>
        <p>Set your meetup and get directions</p>
      </div>

    </div>
  </div>
